a {
	flex: 1;
	padding: 10px;
	text-align: center;
	box-sizing: border-box;
}

ul {
    display: flex;
}

.active {
    color: #00bcd4 !important;
}

.nav-link {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
    text-decoration: none !important;
}